<div class="back" page={{page}}>
  <button
    class="button button__primary radius-50 back__arrow primary"
    page="chat"
    id="{{id}}"
    style="{{style}}"
    title="{{title}}"
  >
    <img src="{{ArrowIcon}}" alt="Button Icon" page="{{page}}" />
  </button>
</div>