<button
  class="button button__{{class}}"
  page="{{page}}"
  id="{{id}}"
  style="{{style}}"
  title="{{title}}"
>
  {{#if icon}}
    <img src="{{icon}}" alt="Button Icon" page="{{page}}" />
  {{/if}}
  {{label}}
</button>